
@{
    ViewBag.Title = "Index";
}

<h2>Importaciones</h2>
<div class="inner">
    <nav>
        <ul class="sf-menu">
            <li>INICIO</li>
            <li>
                CLOTHING
                <ul>
                    <li>
                        TOPS
                        <ul>
                            <li>TUNICS</li>
                            <li>BLOUSES</li>
                            <li>LONG SLEEVE</li>
                            <li>SHORT SLEEVE</li>
                            <li>SLEEVELESS</li>
                        </ul>
                    </li>
                </ul>                
            </li>
        </ul>
    </nav>
</div>
