
@{
    ViewBag.Title = "Index";
}

<h2>Catalogo de Productos</h2>
<div>
    <img src="~/Images/animacion.jpg" width="200" height="190" />
    <h4>CAMISAS PARA HOMBRE</h4>
    <h5> PRECIO : S/. 30.00</h5>
</div>
<div>
    <img src="~/Images/bbodas.jpg" width="200" height="190" />
    <h4>VESTIDO PARA UN MOMENTO INOLVIDABLE</h4>
    <h5> PRECIO : S/. 230.00</h5>
</div>


